$light1: #b8cca8;
$light2: #8fb374;
$light3: #7daf64;
$dark1: #202304;
$dark2: #2c3611;
$dark3: #2a3330;

$twitter: #1DA1F2;
$facebook: #3B5998;
$googleRed: #EA4335;
$googleBlue: #4285F4;
$googleYellow: #FBBC04;
$googleGreen: #34A853;
$red: #AB6034;
$extraRed: #f23942;
$green: #22A800;
$navBack: rgba(27,47,31,.85);
$navText: rgba(255,255,255,.85);

$dateGrey1: #efefef;
$dateGrey2: #fefefe;
